@import '~normalize.css';

$primary-orange: #ff9936;
$primary-dark: #19191A;

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    
}
body{
    overflow-x: hidden;
}
@font-face {
    font-family: 'HalloweenFont'; /*a name to be used later*/
    src: url('./assets/fonts/SpookyRegime.ttf'); /*URL to font*/
}
.wrapper{
    position: relative;    
    overflow: hidden;
    pointer-events: none; 
}
.svg-header{
    position: relative;
    width: 100vw;
}
.button{
    position: relative;
    display: inline-block;
    padding: 2vh;
    margin: 40px 0;
    color: $primary-orange;
    font-size: 2vw;
    text-transform: uppercase;
    transition: 0.5s;
    letter-spacing: 3px;
    cursor: pointer;
    pointer-events: all;
    border: 1px solid $primary-orange;
    white-space: nowrap;    
    pointer-events: all;
}
.button:hover{
    background-color:$primary-orange;
    color: #050801;
    box-shadow: 0 0 5px$primary-orange,
                0 0 25px$primary-orange,
                0 0 50px$primary-orange,
                0 0 200px$primary-orange;
}
.svg-header__title{
    position: absolute;
    top: 12%;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: -34%;
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    h1{
        font-size: 6.5vw;
        color: white;
        font-family: 'HalloweenFont';
        font-weight: 400;
    }
}
#hill1, #hill2, #hill3{
    overflow: hidden;
}
#shadow4, #shadow1, #shadow2, #shadow3, #witch-house2, #tree-shadow{
    transform: scale(1);  
    transform-origin: top;
    transform-box: fill-box;
    z-index: 10;
}

#Moon{
    /*transform: translateY(100%);*/
    animation: moon 1.5s cubic-bezier(0.77, -0.5, 0.3, 1.5);
}
@keyframes moon{
    from {
        transform: translate(0, 100%);
      }
      to {
        transform: translate(0, 0);
      }
}

@mixin bat-common($speed) {
    background: url('./assets/images/flying-bat.svg');
    width: 225px;
    height: 180px;   
    animation: flying $speed steps(7)  infinite;
}

.bat{@include bat-common(0.21s);}
.bat--faster{@include bat-common(0.20s);}
.bat--slower{@include bat-common(0.25s);}

@keyframes flying{
    0% {
        background-position: 0px;
    } 
    100%{
        background-position: -1570px;
    }
}

@mixin bat-container-common($container, $speed) {
    position: absolute;
    top: 30vh;
    right: 1vw;   
    transform: scale(0);      
    animation: $container $speed linear 1;
}

.bat-container{
    @include bat-container-common(flying-container, 5s);
}
.bat-container2{
    @include bat-container-common(flying-container2, 4s);
}
.bat-container3{
    @include bat-container-common(flying-container3, 6s);
}

@keyframes flying-container{
    0% {transform: scale(0) translate(-5vw, 0) rotateZ(-30deg);} 
    100% {transform: scale(0.6) translate(-150vw, -100vh) rotateZ(-30deg);}
}
@keyframes flying-container2{
    0% {transform: scale(0) translate(-5vw, 0) rotateZ(-10deg);} 
    100% {transform: scale(0.4) translate(-35vw, -150vh) rotateZ(-10deg);}
}
@keyframes flying-container3{
    0% {transform: scale(0) translate(0vw, 50vh) rotateZ(20deg);}
    100% {transform: scale(0.45) translate(100vw, -100vh) rotateZ(20deg);}
}

.fog{
    position: absolute;
    bottom: -20px;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    /*object-fit: cover;*/
}
.fog img{
    position: absolute;
    bottom: 0;
    max-width: 100%;
    height: 200px;
    animation: fog calc(8s * var(--i)) linear infinite;
}
@keyframes fog {
    0% {
        transform: translateX(-100%);
        opacity: 1;
    }
    90%{
        transform: translateX(200%);
        opacity: 1;
    }
    100%{
        transform: translateX(200%);
        opacity: 0;
    }
}

%flex-center-column {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

%flex-center {
    display: flex;
    justify-content: center;
    align-items: center; 
}

.main {
    width: 100%;
    background-color: #19191A;
    position: relative;
    padding-top: 30px;
    background-size: cover;
}
section {
    @extend %flex-center-column;
    width: 100%;    
    margin-bottom: 50px;
    position: relative;
}
.section__title{
    font-size: 3rem;
    color: white;
    font-family: 'HalloweenFont';
    font-weight: 400;
    text-align: center;
    margin: 50px auto;
}
#invitation {
    @extend %flex-center-column;
    width: 50%;
    margin: 10px;
    color: white;
    text-transform: uppercase;
    text-align: center;
    font-size: 20px;
    pointer-events: all;
    letter-spacing: 2px;
    div{
        margin: 30px;
    }
    .invitation__frame{
        margin: 80px 0;
        width: 100%;
        height: 80px;
        background-size: contain;
        margin-top: 50px;
    }
    #light{
        --cursorY: 30vw;
        --cursorX: 30vh;
      cursor: none;    
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      margin: 0;
      position: absolute;    
      background: radial-gradient(
          circle 50px at var(--cursorX) var(--cursorY),
          rgba(0,0,0,0),
          rgba(25, 25, 26,1)
      );
    }
}
.invitation__title{
    font-size: 24px;

    .halloween-font{
        font-family: HalloweenFont;
        font-size: 36px;
        color: $primary-orange;
    }
}

.invitation__frame--lower {
    background: url('./assets/images/lower-frame.svg') center no-repeat;
}
.invitation__frame--upper {
    background: url('./assets/images/upper-frame.svg') center no-repeat;
}

.invitation__info__item{
    position: relative;
    width: 100%;
}


.section__content {
    width: 80%;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    pointer-events: all;
    z-index: 5;
}
.slider{
    display: flex;
    transition: transform 0.6s ease;
    transform: translateX(-300%);
}
%slider__item{
    display: flex;    
    align-items: center;
    flex: 0 0 100%;
    max-width: 100%;
    position: relative;    
    height: 650px;
}
.slider__item--default{
    @extend %slider__item;    
    justify-content: flex-start;    
}
.slider__item--final{
    @extend %slider__item;
    justify-content: center;   
    background-color: $primary-orange;
    .slider__item__card__title{
        font-family: 'HalloweenFont';    
        font-size: 30px;
        letter-spacing: 2px;
    }

}
.slider__item__card{
    @extend %flex-center-column;
    width: 50%;
    height: 100%; 
    font-size: 18px;       
    text-align: center;
    padding: 50px;
    padding-bottom: 100px;
    pointer-events: all;
    position: relative;
    z-index: 15;
}
.slider__item__card__title{
    margin: 15px;
    font-size: 22px;
    margin-top: 51px;
    font-weight: 700;
    width: 200px;
    user-select: none;
}
.slider__item__card--left{
    background-color:#D7C49EFF;
    transition: 0.5s linear;
}
.slider__item__card--right{
    background-color: #343148FF;
    transition: 0.5s linear;
}
@mixin slider-picture-horizontal($url) {
    background: $url no-repeat;   
    width: 270px;
    height: 270px;
    background-size: cover;
    @media (max-width: 600px){
        width: 110px;
        height: 110px;
    }
}
@mixin slider-picture-vertical($url) {
    background: $url no-repeat;   
    width: 240px;;
    height: 350px;
    @media (max-width: 600px){
        width: 100px;;
        height: 150px;
    }
    background-size: cover;
}
#rum{@include slider-picture-vertical(url('./assets/images/food/rum.png'));}
#cocktail{@include slider-picture-vertical(url('./assets/images/food/martini.png'));}
#pizza{@include slider-picture-horizontal(url('./assets/images/food/pizza-n.svg'));}
#sushi{@include slider-picture-horizontal(url('./assets/images/food/sushi-n.svg'));}
#cake{@include slider-picture-vertical(url('./assets/images/food/cake-n.svg'));}
#pie{@include slider-picture-horizontal(url('./assets/images/food/pie-n.svg'));}
#little-ghost{@include slider-picture-horizontal(url('./assets/images/little-ghost.svg'));}

.slider__item__nav {
    @extend %flex-center;
    position: absolute;
    width: 100%;
    height: 100%;
    pointer-events: all;
    .check-container{
        position: absolute;
        bottom: 20px;   
        width: 100px;   
        height: 100px;
        @extend %flex-center;
    }
    .check-container--left{left: 20%;}
    .check-container--right{right: 20%;}

    .check{
        padding: 20px;
        background-image: url('./assets/images/icons/check.svg');
        background-size: cover;
        position: absolute;
        transition: 0.2s linear;
        z-index: 20;
    }

    .choose{
        background-image: url('./assets/images/icons/coding1.svg');
        padding: 20px;
        position: absolute;   
        background-size: cover;
        bottom: 10%;   
        pointer-events: all;
        z-index: 20;    
    }
    .check-active{
        padding: 25px;
        background-image: url('./assets/images/icons/check-active.svg');
        background-size: cover;
        transition: 0.2s linear;
    }
}

.check--selected {
    background-image: url('./assets/images/icons/check-active.svg');
    background-size: cover;
    transition: 0.6s linear;
    opacity: 0;
    position: absolute;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    width: 50px;
    height: 50px;
    pointer-events: none;
    bottom: 7%;
    z-index: 15;
}
.slider__item__nav__text{
    position: absolute;
    top: 50px;    
    color: white;
    font-size: 24px;
    font-weight: 300;
    text-align: center;
    width: 25%;
    z-index: 15;
    user-select: none;
    p {
        font-size: 14px;
        font-style: italic;
        text-align: center;
        margin-top: 20px;
    }
   
}

.main i {
    position: absolute;
    background: #fff;
    border-radius: 50%;
    animation: animate-stars linear infinite;
    animation: animate-stars linear infinite;
    z-index: 1;
}

@keyframes animate-stars
{
    0%
    {
        opacity: 0;
        transform: translateY(0);
    }
    10%, 90%
    {
        opacity: 1;       
    }
    100%
    {
        opacity: 0;
        transform: translateY(-100px);
    }
}
.section__content--canvas{
    position: relative;
    image {
        width: 55px;
        height: 55px;
    }
    .section__content--canvas__button{
        top: 45%;
        left: 40%;
        position: absolute;
        background: black;
        font-weight: 800;
    }
    .section__content--canvas__button:hover{
        color: wheat;
    }
}
#canvas{
    margin: 30px;    
    border: 1px solid lightgrey;
    background: url('./assets/images/game-background-desktop-1.svg');
    background-size: cover;
    pointer-events: all;
    border-radius: 10px;
   
}
.section__content--playlist{
    width: 80%;
    pointer-events: all;
    text-align:center;
    padding-bottom: 100px;
    color: white;
    display: flex;
}
.playlist__item{
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
    margin-bottom: 40px;
    .playlist__item__title{
        color: $primary-orange;
        font-family: 'HalloweenFont';
        letter-spacing: 2px;
        font-weight: 200;
        font-size: 36px;
        margin-bottom: 40px;
        margin: 10px;
    }
    li{
        padding: 5px;
        list-style: none;
    }
    input {
        padding: 10px;
        margin-bottom: 30px;
        margin: 10px;
        font-size: 20px;
        border-radius: 5px;
        outline: none;
        border: 2px solid $primary-orange;
    }

}
.Track {
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba(256, 256, 256, 0.8);
    justify-content: start;
    .Track-action {
        cursor: pointer;
        padding: .5rem;
        font-size: 30px;
        transition: color .25s;
        border: 0px;
        background-color: rgba(0, 0, 0, 0);
        color: #fff;
    }
    .Track-action:hover {
        color: rgba(265, 265, 265, .5);
    }
    #current-playlist .Track-action{
        display: none;
    }
    .Track-information {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 50%;
        h3 {
            margin-bottom: .22rem;
            font-size: 1.3rem;
        }
        p {
            font-size: .83rem;
            font-weight: 300;
            color: rgba(256, 256, 256, 0.8);
        }
    }
    img{
        height: 70%;
        width: 15%;
        object-fit: cover;
        border-radius: 5px;
        margin-left: 10px;
     }

}
#acceptance {
    h2{
        font-size: 3rem;
        color: white;
        font-family: 'HalloweenFont';
        font-weight: 400;
        text-align: center;
        margin: 50px auto;
    }

}
form{
    display: flex;
    flex-direction: column;
    width: 80%;
    align-items: center;
    pointer-events: all;
    input{
        margin: 10px;
        border-radius: 10px;
        outline: none;
        padding: 10px;
        width: 50%;
        font-size: 20px;
    }
    button{
        text-decoration: none;
        background: none;
    }
    .input--error{
        border: 2px solid red;
    }
 }
 .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 25; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.8); /* Black w/ opacity */
    pointer-events: all;
  }
  
  /* Modal Content/Box */
  .modal__content {
    @extend %flex-center-column;
    background-color: $primary-orange;
    margin: 15% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 80%; 
    
    position: relative;
    border-radius: 10px;
  }
  .modal__content__picture{
    background: url('./assets/images/see-you-ghost.svg');
    background-size: cover;
    width: 200px;
    height: 200px;    
    margin-bottom: 50px;
  }
  .modal__content__text{
    color: white;
    font-family: 'HalloweenFont';
    font-weight: 400;
    font-size: 30px;    
    text-align: center;
  }
  /* The Close Button */
.close {
    color:white;
    float: right;
    font-size: 28px;
    font-weight: bold;
    position: absolute;
    right: 10%;
    top: 5%;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

 #footer{
    width: 100vw;
    display: block;
    object-fit: cover;
    z-index: 5;
}
#mobile-svg {
    display: none;
}

@media all and (max-width: 599px) {
    #desktop-svg {
        display: none;
    }
    #mobile-svg {
        display: block;
    }
    .svg-header__title{       
        top: 22%;        
        right: 6%;
        width: 500px;
    }
    .svg-header__button{
        padding: 10px;    
        font-size: 14px;
        user-select: none;
    }
    .button{
        padding: 8px 9px;
        margin: 30px 0;       
        font-size: 18px;       
        letter-spacing: 2px;
    }
    .svg-header__title{
        h1{    
            font-size: 55px;
            color: $primary-orange;
        }
    }
    
    #invitation {
        width: 80%;
        div{
            margin: 10px;
        }
        
    }
    .invitation__title{
        font-size: 30px;
    
        .halloween-font{
            font-size: 40px; 
        }
        .invite-text{
            font-size: 18px;
            margin-bottom: 15px;
        }
    }
    .invitation__frame{
        margin: 30px 0;
    }
    
    .invitation__info__item{
        position: relative;
        width: 100%;
    }
    .invitation__button{
        margin-top: 30px;
    }

    .js-slider__item{ 
        height: 550px;
        .slider__item__card__title{
            font-size: 20px;
            width: auto;
            width: 150px;
        }
        .slider__item__card__title--active{
            display: block;
            font-size: 24px;
            position: absolute;
            top:0 ;
            transition: 0.5s linear;
        }

    }
   
        
    .slider__item__nav {      
        .check-container{
            bottom: 50px;
            width: 50px;
            height: 50px;
        }
        .check-container--left{left: 19%;}   
        .check-container--right{right: 19%;} 
        .choose{
            bottom: 5%;
            display: none;  
        }
        .slider__item__nav__text{
            top: 35px;
            width: 100%;
            p{
                display: none;
            }
            h3{
                width: 100%;
            }
        }
    }

    .section__content--playlist{
        display: block;
    }
    .playlist__item{
        width: 100%;
        input{            
            padding: 10px 25px;
        }
    }
    #canvas{
        background: url('./assets/images/game-background-mobile.jpg') no-repeat;
        background-size: cover;       
    }
    form{
        input{
            width: 100%;
        }
    } 
}
@media all and (min-width: 600px) {
    #desktop-svg {
        display: block;
    }
    #mobile-svg {
        display: none;
    }
}